body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-inputs {
  display: flex;
}

.name-descricao {
  display: flex;
}

.atributos {
  display: flex;
}

.imagem-raridade-trunfo {
  display: flex;
}

.botao-enviar {
  display: flex;
}

.container-card {
  display: flex;
}